<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

All Industries
Advertising, Media & Communications
Agriculture, Fishing & Forestry
Automotive & Aviation
Banking, Finance & Insurance
Construction
Education
Energy & Utilities
Enforcement & Security
Entertainment, Events & Sport
Healthcare
Hospitality & Hotel
IT & Telecoms
Law & Compliance
Manufacturing & Warehousing
Mining, Energy & Metals
NGO, NPO & Charity
Real Estate
Recruitment
Retail, Fashion & FMCG
Shipping & Logistics
Tourism & Travel


All Industries
Advertising, Media &amp; Communications
Agriculture, Fishing &amp; Forestry
Automotive &amp; Aviation
Banking, Finance &amp; Insurance
Construction
Education
Energy &amp; Utilities
Enforcement &amp; Security
Entertainment, Events &amp; Sport
Healthcare
Hospitality &amp; Hotel
IT &amp; Telecoms
Law &amp; Compliance
Manufacturing &amp; Warehousing
Mining, Energy &amp; Metals
NGO, NPO &amp; Charity
Real Estate
Recruitment
Retail, Fashion &amp; FMCG
Shipping &amp; Logistics
Tourism &amp; Travel



<select
    aria-label="Select an industry"
    class="w-full h-10 pl-2 text-gray-500 rounded-md border border-gray-300 hover:border-gray-400 focus:border-gray-400 placeholder-gray-400 focus:placeholder-gray-900 mb-3 w-full md:mb-0 md:mr-3" name="industry" style="">
    <option value="">All Industries
    <option value="advertising-media-communications">Advertising, Media &amp; Communications
    <option value="agriculture-fishing-forestry">Agriculture, Fishing &amp; Forestry
    <option value="automotive-aviation">Automotive &amp; Aviation
    <option value="banking-finance-insurance">Banking, Finance &amp; Insurance
    <option value="construction">Construction
    <option value="education">Education
    <option value="energy-utilities">Energy &amp; Utilities
    <option value="enforcement-security">Enforcement &amp; Security
    <option value="entertainment-events-sport">Entertainment, Events &amp; Sport
    <option value="healthcare">Healthcare
    <option value="hospitality-hotel">Hospitality &amp; Hotel
    <option value="it-telecoms">IT &amp; Telecoms
    <option value="law-compliance">Law &amp; Compliance
    <option value="manufacturing-warehousing">Manufacturing &amp; Warehousing
    <option value="mining-energy-metals">Mining, Energy &amp; Metals
    <option value="ngo-npo-charity">NGO, NPO &amp; Charity
    <option value="real-estate">Real Estate
    <option value="recruitment">Recruitment
    <option value="retail-fashion-fmcg">Retail, Fashion &amp; FMCG
    <option value="shipping-logistics">Shipping &amp; Logistics
    <option value="tourism-travel">Tourism &amp; Travel
</select>

</body>
</html>
